* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    outline: none;
}

header {
    background-color: #0F7398;
}

#header_contents {
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}

#input input {
    border: 0px solid #0F7398;
    border-radius: 4px;
    background-color: #E6E6E6;
    background-image: url("../images/Icon feather-search.svg");
    background-repeat: no-repeat;
    background-position: 2px;
    width: 536px;
    height: 38px;
    padding: 12px 12px 12px 38px;
    font-size: 22px;
}

#header_navs > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#header_navs > ul > li {
    display: inline-block;
}

#header_navs > ul > li:first-child {
    margin: 0 12px 0px 0; 
}

#header_navs > ul > li:nth-child(2) {
    margin: 0 12px 0 0; 
}

#header_navs > ul > li:nth-child(3) {
    margin: 0px 0px 0 0;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    background-color: rgba(243, 243, 243, 0.81) !important;
    background-image: url("../images/Group 11.svg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 86.5vh;
}


#circle_float {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    bottom: 30px;
    right: 100px;
    background-color: #ECECEC;
    box-shadow:  0 0 3px #333;
    cursor: pointer;
}

#create_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: inherit;
}

#circle_text {
    color: #0F7398;
}

#modal_flex {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%;
    left: 30%;
    background-color: #FFFFFF;
    text-align: center;
    width: auto;
    height: auto;
    box-shadow:  0 0 3px #333;
    border-radius: 1%;
}

#modal_flex > h3, #modal_buttons {
    margin-top: 16px;
}

#modal_input_text {
    margin: 16px;
}

#modal_input_text > input {
    border: 0px solid #0F7398;
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 536px;
    height: 38px;
    padding: 12px 12px 12px 18px;
    font-size: 22px;
    box-shadow:  0 0 3px #333;
}

#modal_buttons {
    margin-bottom: 16px;
}

#modal_buttons button {
    box-shadow:  0 0 3px #333;
    padding: 4px;
    border-radius: 4px;
    margin-right: 7px;
    font-weight: bold;
}

#modal_buttons button:focus {
    outline: none;
}

#modal_buttons button:hover {
    cursor: pointer;
}

#modal_buttons button:nth-child(1) {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
}

#modal_buttons button:nth-child(2) {
    background-color: #0F7398;
    border: 1px solid #0F7398;
    color: #FFFFFF;
}